@model TheGalery.Web.Models.ManageViewModel
@{
    ViewBag.Title = "The Galery";

}

@if (!string.IsNullOrEmpty(Model.UserName))
{
    <div class="user_frame">
        <ul>
            <li>
                <img class="user_image" src="@Model.PhotoLocation" />
            </li>
            <li>
                <p class="username_text">@Model.UserName</p>
            </li>
        </ul>
    </div>
    <pre>
    @Model.CalendarJson
    </pre>

}

