@using TheGalery.Web.Models
@model ImageGroupViewModel
@{

    if (Model == null)
    {
        Response.SetStatus(HttpStatusCode.NotFound);
        return;
    }
}
<ul class="images" data-role="listview">
    @foreach (ImageViewRow photo in Model)
    {
        string imagePath = Url.Action("Image", "Gallery", new { name = photo.Name, path = photo.Path, imageSize = ImageSize.Medium });
        string imageRef = Url.Action("Photo", "Gallery", new { name = photo.Name, path = photo.Path, groupName = Model.GroupName });
        <li>
            <a href="@imageRef">
                <img alt="thumbnail of @photo.Name" src="@imagePath" class="thumbnail-border" />
            </a>
        </li>
    }
</ul>
